<!-- views/authentication/signup.ejs -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form id="form" action="/signup" method="POST" enctype="multipart/form-data">
        <h2>SIGN UP</h2>
        <br><br>
        <label for="username">Email</label><br>
        <input type="email" id="email2" name="email" placeholder="email">
        <br><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" placeholder="password">
        <br><br>
        <label for="avatar">Avatar</label><br>
        <input type="file" id="avatar" name="avatar">
        <br><br>
        <br><br>
        <label for="name">Name</label><br>
        <input type="text" id="name" name="name" placeholder="name">
        <br><br>
        <label for="surname">Surname</label><br>
        <input type="text" id="surname" name="surname" placeholder="surname">
        <br><br>
        <label for="address">Adress</label><br>
        <input type="text" id="address" name="address" placeholder="address">
        <br><br>
        <label for="city">City</label><br>
        <input type="text" id="city" name="city" placeholder="city">
        <br><br>
        <label for="country">Country</label><br>
        <input type="text" id="country" name="country" placeholder="country">
        <br><br>
        <label for="birthday">Birthday</label><br>
        <input type="date" id="birthday" name="birthday" placeholder="birthday">
        <br><br>
        <button>Create account</button>
      </form>
      <% if (typeof errorMsg !== "undefined") { %>
        <% console.log(`-------------->${errorMsg}`)%>
          <div class="error-message">
            <p>
              <%= errorMsg %>
            </p>
          </div>
          <% } %>
    </div>
  </div>

