<footer>
    <nav class="navigation">
      <a href="https://github.com/Javalba" class="fa fa-github-alt";</a>
      <a href="https://twitter.com/Armerou" class="fa fa-twitter"</a>
      <a href="https://www.linkedin.com/in/javierarmero/" class="fa fa-linkedin"</a>
      <a href="mailto:javalba90@gmail.com" class="fa fa-envelope-o"</a>
      <a href="/"> <span class="copyright-logo">© 2017 Javier Armero</span></a>
    </nav>
  
  </footer>