<header>

  <nav class="siteNavContainer">
<!--     <img class="topMenu_item topMenu_logo" src="https://www.swarovski.com/is-bin/intershop.static/WFS/SCO-Web_ES-Site/-/es_ES/img/basics/swarovski_v2016.png" alt="">
 -->       
 <img class="topMenu_item topMenu_logo" src="http://www.hvacinc.com/sites/default/files/test_4.jpg" alt="">
    <ul class="topMenu">
      <li class="topMenu_item"><a class="topMenu_button" href="/">Home</a></li>
      <li class="topMenu_item"><a class="topMenu_button" href="/signup">Sign Up</a></li>
      <li class="topMenu_item"><a class="topMenu_button" href="/login">Login</a></li>
      <li class="topMenu_item"><a class="topMenu_button">Log out</a></li>
      <li class="topMenu_item"><a class="topMenu_button">Profile</a></li>
    </ul>
  </nav>

<!--   <div class="pageContainer">
    <section class="section"></section>
    <div class="grid">
      <div class="grid_item">
        <h1 class="section_heading">
          Swarosvki
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse repellendus eaque odit perferendis, laborum, distinctio voluptatum nemo porro consectetur, tempora reiciendis quia saepe ipsum. Rem error quas amet, maiores expedita?
        </p>
      </div>
    </div>
  </div> -->

</header>

