<header>

  <nav class="l-topNavContainer">
    <!--     <img class="topMenu_item topMenu_logo" src="https://www.swarovski.com/is-bin/intershop.static/WFS/SCO-Web_ES-Site/-/es_ES/img/basics/swarovski_v2016.png" alt="">
 -->
 <div class="topMenu">
    <a href="/" ><img class="topMenu-logo" src="/images/swarovski-icon_158x69.png" alt=""></a>
    <a href="javascript:void(0);" class="topMenu-hamburguer" onclick="toggleTopMenu()">&#9776;</a>
    <ul class="topMenu-ul">
      <% if (typeof user !== "undefined") { %>
        <li class="topMenu-ul-item"><a class="topMenu-button" href="/">Home</a></li>        
        <li class="topMenu-ul-item"><a class="topMenu-button" href="/users/<%=user.email%>">Profile</a></li>
        <li class="topMenu-ul-item"><a class="topMenu-button" href="/collections">My Collections</a></li>
        <li class="topMenu-ul-item"><a class="topMenu-button" href="/logout">Log out</a></li>
        <% } else{ %>
      <li class="topMenu-ul-item"><a class="topMenu-button" href="/signup">Sign Up</a></li>
      <li class="topMenu-ul-item"><a class="topMenu-button" href="/login">Login</a></li>
        <% } %>    
        
        
    </ul>
 </div>

  </nav>

  <!--   <div class="pageContainer">
    <section class="section"></section>
    <div class="grid">
      <div class="grid_item">
        <h1 class="section_heading">
          Swarosvki
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse repellendus eaque odit perferendis, laborum, distinctio voluptatum nemo porro consectetur, tempora reiciendis quia saepe ipsum. Rem error quas amet, maiores expedita?
        </p>
      </div>
    </div>
  </div> -->

</header>

