<main>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, impedit quam ex perspiciatis quos distinctio numquam esse, eum saepe, explicabo nihil vel officiis fugiat tempora reprehenderit fuga, libero eaque. Quam.</p>
  <%- body -%>
</main>

