<main>

  <% if (typeof message !== "undefined") { %>
    <% console.log(`MAIN.EJS-------------->${message}`)%>
      <div class="message">
        <%= message %>
      </div>
      <% } %>
        <div class="l-body">
          <%- body -%>
        </div>

</main>