<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Swarosvki Collection</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <%- include('../partials/header') %>

    <%- include('../partials/main') %>

      <%- include('../partials/footer') %>
</body>

</html>

