<!-- Landing page & User page -->
<div class="l-mainContainer">

  <% if (user) { %>
    <div class="teaser-dashboard">
      <h1>Hello,
        <%=user.email %>!
      </h1>

      <a href="/collections">Go to your collections page</a>
      
    </div>

    <% } else{ %>


      <div class="teaser-welcome">
        <h1>Create your wonderful collection of Swarosvki figures</h1>
        <h2>Create your own collections and figures, upload images and much more!</h2>
      </div>
      <div class="teaser-login">
        <p>Log in to view your profile</p>
      </div>
      <%} %>


</div>

