<section class="section-collection-up">
  <div class=teaser-header>
    <h1>My collections</h1>
  </div>

  <div class="teaser-container">
    <ul>
      <li class="teaser-container-content"><a href="/collections/new">Create new collection</a></li>
    </ul>
  </div>
</section>

<% if(!collections){ %>
  <section class="section-collection-down">
    <p>Your list is empty, try to create a new collection!</p>
  </section>
  <% } else{ %>
    <section class="section-collection-down">        
    <% collections.forEach((collection) => { %>
      <div class="teaser-collection">
        <div class="teaser-header">
          <p>Collection's name:</p>
          <h1>
            <a class="title" href="/collections/<%= collection._id %>">
                <strong><%= collection.name %></strong>
              </a><br>
          </h1>
        </div>

        <div class="teaser-container">
          <p>Description:</p>
          <div class="teaser-container-content">
            <p class="light-text description">
              <%= collection.description %>
            </p>
          </div>
        </div>
      </div>
        <%}) %>
      </section>
          <%}%>


