<section class="section-collection-up">
  <div class=teaser-header>
    <h1>My collections</h1>
  </div>

  <div class="teaser-container">
    <ul>
      <li class="teaser-container-content"><a href="/collections/new">Create new collection</a></li>
    </ul>
  </div>
</section>

<% if(!collections){ %>
  <section class="section-collection-down">
    <p>Your list is empty, try to create a new collection!</p>
  </section>
  <% } else{ %>
    <section class="section-collection-down">
      <% collections.forEach((collection) => { %>
        <a class="title" href="/collections/<%= collection._id %>">
          <div class="teaser-collection">
            <div class="teaser-header">
              <h1>
                <strong><%= collection.name %></strong>
                <br>
              </h1>
            </div>


            <div class="teaser-container">
              <div class="teaser-container-content">
                <p>
                  <%= collection.description %>
                </p>
              </div>
            </div>
        </a>
        </div>

        <%}) %>
    </section>
    <%}%>

