<div class=container>
  <form id="form" action="/collections/<%=collection._id%>" method="POST">
    <div class="collection-title">
      <label for="collectionName">Collection name</label><br>
      <input type="text" id="collection_name" name="collectionName" value='<%=collection.name%>'>
    </div>
    <div class="collection-description">
      <label for="collectionDesc">Collection description</label><br>
      <input type="text" id="collection_desc" name="collectionDesc" value='<%=collection.description%>'>
    </div>
</div>
<div class=container>
  <button class="btn">Save changes</button>
  </form>
</div>
<div class="container">
  <div class="products">
    <p>
      <!-- ToDo: products-->
      Products
    </p>
  </div>
</div>
</div>

