<div class=container>
  <div class="collection-title">
    <h1>
      <%=collection.name%>
    </h1>
  </div>
  <div class="collection-description">
    <p class="light-text description">
      <%= collection.description %>
    </p>
  </div>

</div>
<div class="container">
  <div class="products">
    <p>
      <!-- ToDo: products-->
      Products
    </p>
  </div>
</div>
</div>

