@import url("fonts/stylesheet.css");
@import url('https://fonts.googleapis.com/css?family=Arapey');
$background: #f9f9f9;
$border: #f2f2f2;
$font: 'Swarosvki'; //Doesnt work
$font2:'Arapey',
serif;
$border-color: #d1d1d1 1px solid;
//$border-color: #f2f2f2 1px solid;

/* $xs: "(min-width: 0) and (max-width: 768px)";
$sm: "(min-width: 768px)";
$md: "(min-width: 992px)";
$lg: "(min-width: 1200px)"; */


/*  $small: '(max-width: 639px)';
$medium: '(max-width: 1047px)';
$large: '(min-width: 1048px)';  */

$test:#00B7FF;

$small: '(min-width: 0) and (max-width: 639px)';
$medium: '(min-width: 640px) and (max-width: 1047px)';
$large: '(min-width: 1048px)';


a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

//font-awesome icon
.fa {
  color: rgba(0, 0, 0, 0.75);
}

.l-body {
  font-size: 1.5rem;
  & h2 {
    text-align: center;
  }
}

.signIn-google {

  margin-top: 25px;
  text-align: center;
  background-color: #DC5043;
  border-radius: 4px;
  transition: .3s ease background;

  &>a {
    line-height: 1.5;
    border: 1px solid #DC5043;
    padding: 7px 35px;
    color: #fff;
    width: unset;
    display: block;
  }
}


.signIn-google:hover {

  background-color: white;
  transition: .3s ease background;

  &>a:hover {
    color: #DC5043;
  }
}

.formulario {
  margin: 30px auto;
  box-shadow: 0 30px 60px 0 rgba(51, 60, 76, .15);
  width: 380px;
  background-color: white;
  padding: 0.5rem 5rem;
  border: $border-color;
  border-radius: 1rem;
}

.formulario label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.formulario input,
.formulario button {
  box-sizing: border-box;
  outline: 0;
  padding: 4px;
  width: 100%;
}

.formulario button {
  font-size: 1.5rem;
  font-family: "Arapey", serif;
  margin-top: 20px;
  background: black;
  border: $border-color;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

.formulario button:hover {
  background: #fff;
  color: black;
  transition: .3s ease background;
}

.container-options {

  nav {
    margin-top: 1rem;
    display: flex;
    border: $border-color;
    border-radius: 5px;
    line-height: 3rem;
  }

  nav>li {
    border-right: 1px solid grey;
    flex-grow: 1;
    flex-wrap: wrap;
    text-align: center;

    &:last-child {
      border-right: none;
    }

    &>a {
      display: block;
    }

    &>a>i {
      padding-right: 1rem;
    }
  }
}

.container-figures {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


  &-item {
    display: inline-block;
    flex-grow: 1;
    height: auto;
    width: calc(100% * (1/4)); //display max 4 items per row.
  }

  .figures {
    
        &-ul {
          border: 1px solid black;
        }
        &-li>img {
          max-width: 200px;
          max-height: auto;
        }
      }
}


/***********************************************************************
******                   SMALL                              ************
/************************************************************************/

@media #{$small} {

  body {
    background: $background;
    font-family: $font2;
    margin: 8px;
  }

  .l-body {
    font-size: 1rem;
  }

  .formulario {
    padding: 0.2rem 2rem;
    width: inherit;
  }

  .formulario button {
    font-size: 1rem;
  }

  .section-collection-up {

    .teaser-header {
      border-style: groove;
      min-height: 100px;
      background-color: rgba(128, 128, 128, 0.32);
      border-radius: 3px;
      line-height: 47px;

      &>h1 {
        float: right;
        margin-right: 50px;
        font-style: italic;
        font-size: xx-large;
      }
    }

    .teaser-container {
      border-bottom: 1px solid black;
      text-align: center;
      line-height: 60px;

      &>ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-right: 50px;
        height: 34px;
      }

      &>ul>li {
        color: grey;

        &>a {
          color: black;
          display: block;
          padding: 0 10px 0 10px;
          font-size: 21px;
        }
      }

      &>ul>li:hover {
        background-color: rgba(128, 128, 128, 0.25);
        border-radius: 2px;
        cursor: pointer;
      }
    }
  }

  .section-collection-down {

    max-width: 741px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-width: 400px;

    .teaser-collection {
      margin: 10px;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      padding: 10px 0;
      background-color: rgba(255, 0, 0, 0.25);
      text-align: center;
      border: 1px solid transparentize(white, 0.25);
      background-color: transparentize(white, 0.8);
      color: black;
      /* border-bottom: 1px grey solid; */
      padding: 15px 0;
      background-color: white;
      transition: all 0.3s ease;
      /* padding-left: 25px; */
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 30px 60px 0 rgba(51, 60, 76, .15);
        cursor: pointer;
      }
    }

    .teaser-container {
      border-top: 1px solid #ccc;
      margin: 0 10%;
    }

    .teaser-header {
      color: #000;
      font-size: 25px;
      line-height: 10px;
      padding: 10px;
    }

    .teaser-container-content {

      &>p {
        color: rgba(39, 42, 45, 0.63);
        font-size: 18px;
      }
    }
  }

  main {
    max-width: 639px;
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: 75px;

    .l-mainContainer {}

    .teaser-welcome {

      background-image: url(https://i.ytimg.com/vi/hPCotoawhk0/maxresdefault.jpg);
      background-position: 50% 50%;
      min-height: 160px;

      &>h1 {
        margin: 2rem auto 1.3rem;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        max-width: 70rem;
      }
      &>h2 {
        font-size: 20px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 0;
      }
    }

    .teaser-login {

      &>p {
        min-height: 100px;
        text-align: center;
        line-height: 100px;
        font-size: 20px;
        background-color: #f2f4f5;
        margin: 0 auto;
      }
    }
  }

  header {
    max-width: 639px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
    border-bottom: black solid 1px;

    .l-topNavContainer {


      align-content: center;
      text-align: center;
    }

    .topMenu-hamburguer {
      text-decoration: none;
      color: black;
      display: block;
      font-size: 28px;
    }

    .topMenu {

      &-logo {}
      &-ul {
        display: none;
        margin: 0;
        padding: 0; //link activated clicking li element
        &-item a {
          display: block;
          font-size: 20px;
          color: black;
        }
        &-item {}

        &-item:hover {
          background-color: rgba(128, 128, 128, 0.25);
          border-radius: 2px;
          cursor: pointer;
        }
      }

      &-ul.collapsed {
        display: block;
      }
    }
  }


  footer {
    color: black;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: solid 1px;
    height: 40px;
    line-height: 43px;
    background-color: $background;
    border-top-color: #f2f2f2;

    .navigation {
      max-width: 316px;
      margin: 0 auto;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation>*:not(:first-child) {
    margin-left: 1.6rem;
  }

  .container-figures {
    &-item {
      width: 100%; //display one item
    }
  }
}

/***********************************************************************
******                   MEDIUM ************
/************************************************************************/

@media #{$medium} {

  body {
    background: $background;
    font-family: $font2;
    margin: 8px;
  }

  .section-collection-up {

    .teaser-header {
      border-style: groove;
      min-height: 100px;
      background-color: rgba(128, 128, 128, 0.32);
      border-radius: 3px;
      line-height: 47px;

      &>h1 {
        float: right;
        margin-right: 50px;
        /* margin-bottom: 54px; */
        font-style: italic;
        font-size: xx-large;
      }
    }

    .teaser-container {
      border-bottom: 1px solid black;
      text-align: center;
      line-height: 60px;

      &>ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-right: 50px;
        height: 34px;
      }

      &>ul>li {
        color: grey;

        &>a {
          color: black;
          display: block;
          padding: 0 10px 0 10px;
          font-size: 21px;
        }
      }

      &>ul>li:hover {
        background-color: rgba(128, 128, 128, 0.25);
        border-radius: 2px;
        cursor: pointer;
      }
    }
  }

  .section-collection-down {

    max-width: 741px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    min-width: 400px;

    .teaser-collection {
      margin: 10px;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      padding: 10px 0;
      background-color: rgba(255, 0, 0, 0.25);
      text-align: center;
      border: 1px solid transparentize(white, 0.25);
      background-color: transparentize(white, 0.8);
      color: black;
      /* border-bottom: 1px grey solid; */
      padding: 15px 0;
      background-color: white;
      transition: all 0.3s ease;
      /* padding-left: 25px; */
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 30px 60px 0 rgba(51, 60, 76, .15);
        cursor: pointer;
      }
    }

    .teaser-container {
      border-top: 1px solid #ccc;
      margin: 0 10%;
    }

    .teaser-header {
      color: #000;
      font-size: 25px;
      line-height: 10px;
      padding: 10px;
    }

    .teaser-container-content {

      &>p {
        color: rgba(39, 42, 45, 0.63);
        font-size: 18px;
      }
    }
  }


  main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 75px;

    .l-mainContainer {}

    .teaser-welcome {

      background-image: url(https://i.ytimg.com/vi/hPCotoawhk0/maxresdefault.jpg);
      background-position: 50% 50%;
      min-height: 200px;

      &>h1 {
        margin: 2rem auto 1.3rem;
        font-size: 3.4rem;
        font-weight: 700;
        text-align: center;
        max-width: 70rem;
      }
      &>h2 {
        text-align: center;
        font-weight: 500;
        margin-bottom: 0;
      }
    }

    .teaser-login {

      &>p {
        min-height: 100px;
        text-align: center;
        line-height: 100px;
        font-size: 20px;
        background-color: #f2f4f5;
        margin: 0 auto;
      }
    }
  }


  header {
    max-width: 1200px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
    border-bottom: black solid 1px;
    left: 50%;
    transform: translateX(-50%);

    .l-topNavContainer {
      max-width: 1200px;
    }

    .topMenu-hamburguer {
      display: none;
    }

    .topMenu {
      display: flex;
      margin: 10px;
      align-items: center;
      margin: 0;

      &-logo {
        flex-grow: 0;
        border: 0; //ToDo: Quitar el borde del enlace. 
      }
      &-ul {
        font-size: 21px;
        flex-grow: 1;
        margin: 0;
        padding: 0; //link activated clicking li element
        &-item a {
          margin: 0px;
          display: block;
          width: 100%;
          height: 100%;
          color: black;
        }
        &-item {
          display: inline-block;
          float: right;
          padding: 10px;
          background-color: white;
          line-height: 69px; //logo height  
          padding: 0px 21px 0 21px;
        }


        &-item:hover {
          background-color: rgba(128, 128, 128, 0.25);
          border-radius: 2px;
          cursor: pointer;
          color: red;
        }
      }
    }
  }

  footer {
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: solid 1px;
    height: 40px;
    line-height: 43px;
    background-color: $background;
    border-top-color: #f2f2f2;

    .navigation {
      max-width: 316px;
      margin: 0 auto;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation>*:not(:first-child) {
    margin-left: 1.6rem;
  }



  .container-figures {
    &-item {
      width: calc(100% * (1/2)); //display max 4 items per row.
    }
  }
}


/***********************************************************************
******                   LARGE                               ************
/************************************************************************/

@media #{$large} {

  body {
    background: $background;
    font-family: $font2;
    margin: 8px;
  }

  .section-collection-up {

    .teaser-header {
      border-style: groove;
      min-height: 100px;
      background-color: rgba(128, 128, 128, 0.32);
      border-radius: 3px;
      line-height: 47px;

      &>h1 {
        float: right;
        margin-right: 50px;
        /* margin-bottom: 54px; */
        font-style: italic;
        font-size: xx-large;
      }
    }

    .teaser-container {
      border-bottom: 1px solid black;
      text-align: center;
      line-height: 60px;

      &>ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-right: 50px;
        height: 34px;
      }

      &>ul>li {
        color: grey;

        &>a {
          color: black;
          display: block;
          padding: 0 10px 0 10px;
          font-size: 21px;
        }
      }

      &>ul>li:hover {
        background-color: rgba(128, 128, 128, 0.25);
        border-radius: 2px;
        cursor: pointer;
      }
    }
  }

  .section-collection-down {

    max-width: 741px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    min-width: 400px;

    .teaser-collection {
      margin: 10px;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      padding: 10px 0;
      background-color: rgba(255, 0, 0, 0.25);
      text-align: center;
      border: 1px solid transparentize(white, 0.25);
      background-color: transparentize(white, 0.8);
      color: black;
      /* border-bottom: 1px grey solid; */
      padding: 15px 0;
      background-color: white;
      transition: all 0.3s ease;
      /* padding-left: 25px; */
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 30px 60px 0 rgba(51, 60, 76, .15);
        cursor: pointer;
      }
    }

    .teaser-container {
      border-top: 1px solid #ccc;
      margin: 0 10%;
    }

    .teaser-header {
      color: #000;
      font-size: 25px;
      line-height: 10px;
      padding: 10px;
    }

    .teaser-container-content {

      &>p {
        color: rgba(39, 42, 45, 0.63);
        font-size: 18px;
      }
    }
  }


  main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 75px;

    .l-mainContainer {}

    .teaser-welcome {

      background-image: url(https://i.ytimg.com/vi/hPCotoawhk0/maxresdefault.jpg);
      background-position: 50% 50%;
      min-height: 200px;

      &>h1 {
        margin: 2rem auto 1.3rem;
        font-size: 3.4rem;
        font-weight: 700;
        text-align: center;
        max-width: 70rem;
      }
      &>h2 {
        text-align: center;
        font-weight: 500;
        margin-bottom: 0;
      }
    }

    .teaser-login {

      &>p {
        min-height: 100px;
        text-align: center;
        line-height: 100px;
        font-size: 20px;
        background-color: #f2f4f5;
        margin: 0 auto;
      }
    }
  }


  header {
    max-width: 1200px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
    border-bottom: black solid 1px;
    left: 50%;
    transform: translateX(-50%);

    .l-topNavContainer {
      max-width: 1200px;
    }

    .topMenu-hamburguer {
      display: none;
    }

    .topMenu {
      display: flex;
      margin: 10px;
      align-items: center;
      margin: 0;

      &-logo {
        flex-grow: 0;
        border: 0; //ToDo: Quitar el borde del enlace. 
      }
      &-ul {
        flex-grow: 1;
        font-size: 21px;
        margin: 0;
        padding: 0; //link activated clicking li element
        &-item a {
          margin: 0px;
          display: block;
          width: 100%;
          height: 100%;
          color: black;
        }
        &-item {
          display: inline-block;
          float: right;
          padding: 10px;
          background-color: white;
          line-height: 69px; //logo height  
          padding: 0px 25px 0 25px;
        }


        &-item:hover {
          background-color: rgba(128, 128, 128, 0.25);
          border-radius: 2px;
          cursor: pointer;
          color: red;
        }
      }
    }
  }

  footer {
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: solid 1px;
    height: 40px;
    line-height: 43px;
    background-color: $background;
    border-top-color: $border;

    .navigation {
      max-width: 316px;
      margin: 0 auto;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation>*:not(:first-child) {
    margin-left: 1.6rem;
  }

  .container-figures {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}