@import url("fonts/stylesheet.css");
@import url('https://fonts.googleapis.com/css?family=Arapey');
$background: #f9f9f9;
$font: 'Swarosvki'; //Doesnt work
$font2:'Arapey',
serif;
$border-color: #d1d1d1 1px solid;


/* $xs: "(min-width: 0) and (max-width: 768px)";
$sm: "(min-width: 768px)";
$md: "(min-width: 992px)";
$lg: "(min-width: 1200px)"; */


/*  $small: '(max-width: 639px)';
$medium: '(max-width: 1047px)';
$large: '(min-width: 1048px)';  */

$test:#00B7FF;

$small: '(min-width: 0) and (max-width: 639px)';
$medium: '(min-width: 640px) and (max-width: 1047px)';
$large: '(min-width: 1048px)';


a {
  text-decoration: none;
}

ul {
  list-style: none;
}

//font-awesome icon
.fa {
  color: rgba(0, 0, 0, 0.75);
}

//FORM
#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
}

#form button {
  margin-top: 20px;
  background: black;
  border: 1px solid grey;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: black;
  transition: .3s ease background;
}

@media #{$small} {

  body {
    background: $background;
    font-family: $font2;
    margin: 8px;
  }

  main {
    max-width: 639px;
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: 75px;

    .l-mainContainer {}

    .teaser-welcome {

      background-image: url(https://i.ytimg.com/vi/hPCotoawhk0/maxresdefault.jpg);
      background-position: 50% 50%;
      min-height: 160px;

      &>h1 {
        margin: 2rem auto 1.3rem;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        max-width: 70rem;
      }
      &>h2 {
        font-size: 20px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 0;
      }
    }

    .teaser-login {

      &>p {
        min-height: 100px;
        text-align: center;
        line-height: 100px;
        font-size: 20px;
        background-color: #f2f4f5;
        margin: 0 auto;
      }
    }
  }

  header {
    max-width: 639px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
    border-bottom: black solid 1px;

    .l-topNavContainer {


      align-content: center;
      text-align: center;
    }

    .topMenu-hamburguer {
      text-decoration: none;
      color: black;
      display: block;
      font-size: 28px;
    }

    .topMenu {

      &-logo {}
      &-ul {
        display: none;
        margin: 0;
        padding: 0; //link activated clicking li element
        &-item a {
          display: block;
          font-size: 20px;
          color: black;
        }
        &-item {}

        &-item:hover {
          background-color: rgba(128, 128, 128, 0.25);
          border-radius: 2px;
          cursor: pointer;
        }
      }

      &-ul.collapsed {
        display: block;
      }
    }
  }


  footer {
    color: black;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: solid 1px;
    height: 40px;
    line-height: 43px;
    background-color: $background;
    border-top-color: #f2f2f2;

    .navigation {
      max-width: 316px;
      margin: 0 auto;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation>*:not(:first-child) {
    margin-left: 1.6rem;
  }

  .figures {

    &-ul {
      border: 1px solid black;
    }
  }
}



/***********************************************************************
******                   MEDIUM ************
/************************************************************************/

@media #{$medium} {

  body {
    background: $background;
    font-family: $font2;
    margin: 8px;
  }

  main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 75px;

    .l-mainContainer {}

    .teaser-welcome {

      background-image: url(https://i.ytimg.com/vi/hPCotoawhk0/maxresdefault.jpg);
      background-position: 50% 50%;
      min-height: 200px;

      &>h1 {
        margin: 2rem auto 1.3rem;
        font-size: 3.4rem;
        font-weight: 700;
        text-align: center;
        max-width: 70rem;
      }
      &>h2 {
        text-align: center;
        font-weight: 500;
        margin-bottom: 0;
      }
    }

    .teaser-login {

      &>p {
        min-height: 100px;
        text-align: center;
        line-height: 100px;
        font-size: 20px;
        background-color: #f2f4f5;
        margin: 0 auto;
      }
    }
  }

  header {
    max-width: 1200px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
    border-bottom: black solid 1px;
    left: 50%;
    transform: translateX(-50%);

    .l-topNavContainer {
      max-width: 1200px;
    }

    .topMenu-hamburguer {
      display: none;
    }

    .topMenu {
      display: flex;
      margin: 10px;
      align-items: center;
      margin: 0;

      &-logo {
        flex-grow: 0;
        border: 0; //ToDo: Quitar el borde del enlace. 
      }
      &-ul {
        flex-grow: 1;
        margin: 0;
        padding: 0; //link activated clicking li element
        &-item a {
          margin: 0px;
          display: block;
          width: 100%;
          height: 100%;
          color: black;
        }
        &-item {
          display: inline-block;
          float: right;
          padding: 10px;
          background-color: white;
          line-height: 69px; //logo height  
          padding: 0px 25px 0 25px;
        }


        &-item:hover {
          background-color: rgba(128, 128, 128, 0.25);
          border-radius: 2px;
          cursor: pointer;
          color: red;
        }
      }
    }
  }

  footer {
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: solid 1px;
    height: 40px;
    line-height: 43px;
    background-color: $background;
    border-top-color: #f2f2f2;

    .navigation {
      max-width: 316px;
      margin: 0 auto;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation>*:not(:first-child) {
    margin-left: 1.6rem;
  }

  .figures {

    &-ul {
      border: 1px solid black;
    }
  }
}


/***********************************************************************
******                   LARGE                               ************
/************************************************************************/

@media #{$large} {

  body {
    background: $background;
    font-family: $font2;
    margin: 8px;
  }

  .section-collection-up {

    .teaser-header {
      border-style: groove;
      min-height: 100px;
      background-color: rgba(128, 128, 128, 0.32);
      border-radius: 3px;
      line-height: 47px;

      &>h1 {
        float: right;
        margin-right: 50px;
        /* margin-bottom: 54px; */
        font-style: italic;
        font-size: xx-large;
      }
    }

    .teaser-container {
      border-bottom: 1px solid black;
      text-align: center;
      line-height: 60px;

      &>ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-right: 50px;
        height: 34px;
      }

      &>ul>li {
        color: grey;

        &>a {
          color: black;
          display: block;
          padding: 0 10px 0 10px;
          font-size: 21px;
        }
      }

      &>ul>li:hover {
        background-color: rgba(128, 128, 128, 0.25);
        border-radius: 2px;
        cursor: pointer;
      }
    }

    .teaser-container-content {}
  }

  .section-collection-down {

    max-width: 741px;
    margin: 0 auto;
    display: flex;
    /* border: 1px solid black; */
    margin-top: 10px;
    /* text-align: center; */
    /* display: inline-block; */
    min-width: 400px;

    .teaser-collection{
      margin: 10px;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      padding: 10px 0;
      background-color: rgba(255, 0, 0, 0.25);
      text-align: center;
      border: 1px solid transparentize(white, 0.25);
      background-color: transparentize(white, 0.8);
      color: black;
      /* border-bottom: 1px grey solid; */
      padding: 15px 0;
      background-color: white;
      /* padding-left: 25px; */
    }

    .teaser-header{

    }
  }


  main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 75px;

    .l-mainContainer {}

    .teaser-welcome {

      background-image: url(https://i.ytimg.com/vi/hPCotoawhk0/maxresdefault.jpg);
      background-position: 50% 50%;
      min-height: 200px;

      &>h1 {
        margin: 2rem auto 1.3rem;
        font-size: 3.4rem;
        font-weight: 700;
        text-align: center;
        max-width: 70rem;
      }
      &>h2 {
        text-align: center;
        font-weight: 500;
        margin-bottom: 0;
      }
    }

    .teaser-login {

      &>p {
        min-height: 100px;
        text-align: center;
        line-height: 100px;
        font-size: 20px;
        background-color: #f2f4f5;
        margin: 0 auto;
      }
    }
  }


  header {
    max-width: 1200px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
    border-bottom: black solid 1px;
    left: 50%;
    transform: translateX(-50%);

    .l-topNavContainer {
      max-width: 1200px;
    }

    .topMenu-hamburguer {
      display: none;
    }

    .topMenu {
      display: flex;
      margin: 10px;
      align-items: center;
      margin: 0;

      &-logo {
        flex-grow: 0;
        border: 0; //ToDo: Quitar el borde del enlace. 
      }
      &-ul {
        flex-grow: 1;
        margin: 0;
        padding: 0; //link activated clicking li element
        &-item a {
          margin: 0px;
          display: block;
          width: 100%;
          height: 100%;
          color: black;
        }
        &-item {
          display: inline-block;
          float: right;
          padding: 10px;
          background-color: white;
          line-height: 69px; //logo height  
          padding: 0px 25px 0 25px;
        }


        &-item:hover {
          background-color: rgba(128, 128, 128, 0.25);
          border-radius: 2px;
          cursor: pointer;
          color: red;
        }
      }
    }
  }

  footer {
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: solid 1px;
    height: 40px;
    line-height: 43px;
    background-color: $background;
    border-top-color: #f2f2f2;

    .navigation {
      max-width: 316px;
      margin: 0 auto;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation>*:not(:first-child) {
    margin-left: 1.6rem;
  }

  .figures {

    &-ul {
      border: 1px solid black;
    }
  }
}
